# Set the default behavior, in case people don't have core.autocrlf set.
# This will handle text files automatically, converting to LF on commit.
* text=auto

# Explicitly declare files that will always have LF line endings in the repository.
# This is crucial for scripts that need to run on Linux.
*.sh    eol=lf
*.py    eol=lf 